.App{
  background-color: #f8f8f9;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='1' viewBox='0 0 40 1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v1H0z' fill='%23fb0000' fill-opacity='0.76' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.navbar {
  background-color: #f30b0b65;
  color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-list li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.nav-list li a:hover {
  color: #f0f0f0;
}



.footer {
  position:relative;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
}

.footer-content {
  padding: 10px;
}



